:root {
  /* colors */
  --base-color: #0b111b;
  --base-color-second: #28313a;
  --base-color-button: linear-gradient(120deg, #fad961, #f76b1c);
  --base-color-button-second: linear-gradient(to bottom, Gold , Orange , DarkOrange );
  --text-color: #fff;
  --text-color-strong:  darkorange;
  --base-color-efect: #fad961;
  

 --title-font: 'Poppins', sans-serif;
 --body-font: 'Spartan', sans-serif;
}

body{
  font-family: 'Montserrat' sans-serif;
  background-color: #283c4f;
}

.main-title{
  z-index: 9999;
  color: var(--text-color);
}


::-webkit-scrollbar{
  background-color: #1d1d1d;
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #5b5b5b;
  border-radius: 5px;
}

.row{
  margin: 0;
}

.container{
  padding: 70px 0;
}

p, li{
  color: var(--text-color);
  font-size: 14px;
}




@media screen and (max-width: 767.98px){
  #service .container{
      height: 50vh;
  }
  #service .card p{
      font-size: 12px
  }
  #service .fa-google, #service .fa-laptop-code{
      font-size: 30px;
      padding-left: 200px;
  }
  #service .fa-clock{
      font-size: 30px;
      padding-left: 200px;
  }
  #filter-btn-box .filter-btn{
      margin: 5px 5px;
  }
  #footer{
      display: flex;
      align-items: center;
      text-align: center;
  }
  #footer h3{
      margin-top: 18px;

  }
}

@media screen and (max-width: 480px){
  .single-box img{
      max-height:60px;
      width: auto;
      height: auto;
  }
  .single-box h5{
      font-size: 14px;
  }

}