/*Barra de navegação*/
header, .navbar {
  background-color: var(--base-color-second);
}

#nav-container{
  padding-top: 0;
  padding-bottom: 0;
}

#logo{
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: var(--text-color);
}

#navbar-links a{
  color: var(--text-color);
 
  padding-bottom: 0;
}

#navbar-links a:hover{
  color: var(--base-color-efect);
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 1rem .8rem;
}

html{
  scroll-behavior: smooth;
}


.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.442);
  color: white;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 100vw;
  height: 8%;
  font-size: 1.5rem;
  z-index: 9999;
  position: fixed;
  top: 0;
  
}
.lista__icone{
  max-width: 80px;
  max-height: 80px;
 
}

.cabecalho__nome{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  margin: 0.75rem;

}

.cabecalho__lista{
  display: flex;
  align-items: center;
}

.nav-item{
  display: flex;
  margin-right: 1rem;
  font-size: 1.50rem;
}
.cabecalho__email{
  display: none;
}



@media screen and (max-width: 1024px){

    .cabecalho__lista ul{
      display: none;
    }
    .cabecalho__email{
      display: block;
    }

}

@media screen and (max-width: 767.98px){
  .cabecalho{
    font-size: 1.35rem;
  }
  .cabecalho__email li{
    font-size: 1rem;
  }
  .lista__icone{
    max-width: 40px;
    max-height: 40px;
    margin-right: 15px;
  }

  .cabecalho__nome{
    justify-content: flex-start;
    margin: 0;
  }
}

@media screen and (max-width: 480px){
    .cabecalho__email{
      display: none;
    }
    .cabecalho{
      justify-content: center;
    }

    .cabecalho__nome{
      justify-content: center;
    }
}