/*Contact*/
#contact{
  background-color: var(--base-color);
  color: var(--text-color);
}

#contact button{
  margin-bottom: 5px;
}

#area-contact{
  background-color: rgb(225, 225, 225, 0.1);
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0,0.5);
  
  margin-bottom: 4rem;

  border-top-color: rgb(225, 225, 225, 0.5);
  border-right-color: rgb(225, 225, 225, 0.1);
  border-bottom-color: rgb(225, 225, 225, 0.1);
  border-left-color: rgb(225, 225, 225, 0.5);
}