.projeto__cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(rgb(74, 69, 69), rgb(97, 123, 97), rgb(88, 88, 111));  
}

.card-body{
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  background-color: rgba(15, 22, 22, 0.87);
  
}

.card{
  margin-bottom: 2rem;
  width: 400px;
}

.card-title{
  text-align: center;
  color: var(--text-color);
}

.card-text{
  color: var(--text-color);
  padding-bottom: 0.75rem;
}

.card-img-top{
  max-height: 200px;
}

