footer {
  border-top: 10px solid var(--base-color-efect);
  background: var(--base-color-second);
  color: var(--text-color);
}

footer #logo{
  width: 170px;
}

#footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.medias{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  
}

.my-auto{
  list-style: none;
}

footer .social a {
  margin: 1rem;
  transition: 0.3s;
}

#footer h3{
  background-image: linear-gradient(to bottom, Gold , Orange , DarkOrange );
  color: var(--text-color);
  font-size: 1.25rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .social{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
  
footer .social a:hover {
  transform: translateY(-8px);
}

.imagem__rodape{
  max-width: 80px;
  max-height: 80px;
  border-radius: 25%;
}

.text-center{
  padding-bottom: 2rem;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


