body main{  
  margin: 0 auto;
}

.sobre__informacao{
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  align-items: center;

}

.main-title{
  text-align: center;
  padding: 2.75rem;
  font-size: 3rem;
}

.sobre__text{
  text-align: justify;
  font-size: 1.50rem;
  padding: 1rem;
 
}